<div class="scrollable">
    <div class="scrollable-content">
        <div class="home-view">
            <div ng-hide="vm.selectedResource" class="page-header">
                <h2>StreamStats Webservices</h2>
            </div>
            <div ng-hide="vm.selectedResource" class="well">
                <p>The StreamStats webservices pulls and requests multiple higher level procedures and combines them into simpler objects that can be simply consumed by custom client applications. The current service returns (all if none are specified) basin parameters and optional delineation features (pour point and delineation object).</p>
            </div>

            <div ng-show="vm.selectedResource">
                <h3>{{vm.selectedResource.name}}</h3>
                <div class="well">{{ vm.selectedResource.description }}</div>
            </div>

            <div style="padding:10px;" class="panel" ng-show="vm.selectedUri">

                <h4>Service description</h4>
                <div class="well">{{ vm.selectedUri.description }}</div>

                <h4>Service URL</h4>
                <div class="well">
                    <code>http://ssdev.cr.usgs.gov/servicesTest{{ vm.selectedUri.uri }}</code>
                </div>

                <h4>Response formats</h4>
                <div class="well">
                    <select ng-init="vm.selectedUri.selectedMedia" ng-model="vm.selectedUri.selectedMedia" ng-options="item for item in vm.selectedUri.availableMedia" >
                    </select><span ng-show="vm.selectedUri.selectedMedia">&nbsp;&nbsp;Media format is: {{vm.selectedUri.selectedMedia}}</span>
                </div>

                <h4>Parameters</h4>
                <div class="well">
                    <table class="table table-condensed" style="font-size:12px;margin-bottom:0px;">
                        <thead>
                            <tr><th>Name</th><th>Type</th><th>Description</th><th>Input Parameter</th></tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vm.selectedUri.parameters"><td><strong>{{item.name}}</strong></td><td>{{item.type}}</td><td>{{item.description}}</td><td><input ng-model="item.value" type="text" placeholder="{{item.value}}" required></td></tr>
                        </tbody>
                    </table>
                </div>

                <h4>URL builder</h4>
                <div class="well">
                   
                     <p><code><a ng-href="http://ssdev.cr.usgs.gov/servicesTest{{vm.selectedUri | makeURL}}" target="_blank">http://ssdev.cr.usgs.gov/servicesTest{{vm.selectedUri.newURL}}</a></code></p>

                     <p><button ng-click="loadURL('test')" type="button" class="btn btn-default">Load URL Below</button></p>
                  
                    <div class="panel panel-default">
                      <div class="panel-heading">Response in {{vm.selectedUri.selectedMedia}} format</div>
                      <div class="panel-body">
                        <pre>{{vm.requestResults}}</pre>
                      </div>
                    </div>

                </div>
                
           
            </div>
        </div>
    </div>
</div>