
<div class="scrollable">
    <div class="scrollable-content">
        <div class="home-view">
            <Urldirective></Urldirective>
            <div class="page-header">
                <h2>StreamStats Service API</h2>
            </div>
            <div ng-hide="vm.selectedResource" class="well">
                <h3>Introduction</h3>
                <p>The<a href="link to ss app">StreamStats application</a> uses data services that were created for it. When in use, the applications managages all the interactions 
                with the user and the services. However, the services can be directly accessed using the StreamStats Service API, documented here or consumed by custom client applications.</p>
                
                <p>The StreamStats Service API performs multiple high level procedures which include; database queries, geospatial calculations and service requests in order to
                   compile and create simple objects that can be consumed by custom client applications. As documented by this page, which also serves as an URL builder, the StreamStats Service API are built 
                   following <a href="http://en.wikipedia.org/wiki/Representational_state_transfer">RESTful</a> principles to esure scalability and predictable URLs. 
                </p>

                <h3>Getting Started</h3>
                <p>The URL of each resource can be obtained by accessing one of the resources located to the right.</p>
                
                <p>Every resource is exposed as a URL and follows the outlined pattern described below:
                
                <ul>
                    <li>The description of the Resource.</li>
                    <li>The service URL.</li>
                    <li>Optional response formats, such as xml, json, or geojson</li>
                    <li>URL parameters (if any).
                        <ul>
                            <li>Parameter Name.</li>
                            <li>Value Type, (string, number, boolean, etc.).</li>
                            <li>a description of what the parameter represents.</li>
                            <li>Whether the parameter is required or optional.</li>
                            <li>And and example input Parameter.</li>
                        </ul>
                    </li>
                    <li>A URL Builder that builds an example url, based on the given input parameter values.</li>
                    <li>And an example response from the URL Builder.</li>
                </ul>
                
                
                
                 </p>

            </div>

            <div ng-show="vm.selectedResource">
                <h3>{{vm.selectedResource.name}}</h3>
                <div class="well">{{ vm.selectedResource.description }}</div>
            </div>

            <div style="padding:10px;" class="panel" ng-show="vm.selectedUri">

                <h3>Uri description: </h3>
                <div class="well">{{ vm.selectedUri.description }}</div>

                <h3>Service URL</h3>
                <div class="well">

                    <!--New URL is: {{vm.selectedUri | makeURL}}-->
                    <code>http://ssdev.cr.usgs.gov/servicesTest{{ vm.selectedUri.uri }}</code>
                </div>

                <h3>Response formats</h3>
                <div class="well">
                    {{vm.selectedUri.paramters}}

                    <select ng-init="vm.selectedUri.selectedMedia" ng-model="vm.selectedUri.selectedMedia" ng-options="item for item in vm.selectedUri.availableMedia" >
                        <!--<option style="display:none" value="">Available output formats</option>
                        <option value="" ng-if="false"></option>-->
                    </select>

                    <p><span ng-show="vm.selectedUri.selectedMedia">Media format is: {{vm.selectedUri.selectedMedia}}</span></p>
                </div>

                <h3>Parameters</h3>
                <div class="well">
                    <table class="table" style="font-size:12px;">
                        <thead>
                            <tr><th>Name</th><th>Type</th><th>Description</th><th>Input Parameter</th></tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vm.selectedUri.parameters"><th>{{item.name}}</th><th>{{item.type}}</th><th>{{item.description}}</th><th><input ng-model="item.value" class="form-control" type="text" placeholder="{{item.value}}" required></th></tr>
                        </tbody>
                    </table>
                </div>

                <h3>URL builder</h3>
                <div class="well">
                   
                     <pre><a ng-href="http://ssdev.cr.usgs.gov/servicesTest{{vm.selectedUri | makeURL}}" target="_blank">http://ssdev.cr.usgs.gov/servicesTest{{vm.selectedUri | makeURL}}</a></pre>
                    
                     <p><button ng-click="vm.loadURL()" type="button" class="btn btn-default">Load URL Below</button></p>

                    <div class="panel panel-default">
                      <div class="panel-heading">Response</div>
                      <div class="panel-body">
                        <pre>{{vm.requestResults}}</pre>
                      </div>
                    </div>

                </div>
                
            </div>
        </div>
    </div>
</div>