<div class="scrollable">
    <div class="scrollable-content">
        <div class="home-view">
            <div ng-hide="vm.selectedResource" class="page-header">
                <h2>StreamStats Services</h2>
            </div>
            <div ng-hide="vm.selectedResource" class="well">
                <h3>Introduction</h3>
                <p>The <a href="{{vm.applicationURL}}" target="_blank">StreamStats application</a> uses data services that were created for it. When in use, the application manages interactions 
                between the user and the services. However, the services can be directly accessed using the StreamStats Service API documented here, or consumed by a custom client application using HTTP protocols.</p>
                
                <p>The StreamStats Service API performs multiple high level procedures which include; database queries, geospatial calculations and service requests in order to
                   compile and create simple objects that can be consumed by custom client applications. As documented by this page, which can also serve as an URL builder, the StreamStats Service API is built 
                   following <a href="http://en.wikipedia.org/wiki/Representational_state_transfer" target="_blank">RESTful</a> principles to ensure scalability and predictable URLs. 
                </p>

                <h3>Getting Started</h3>
                <p>The URL of each resource can be obtained by accessing one of the resources located to the left.</p>
                
                <p>Every resource is exposed as a URL and follows the outlined pattern described below:
                
                <ul>
                    <li>The description of the resource.</li>
                    <li>The service URL.</li>
                    <li>Optional response formats, such as xml, json, or geojson</li>
                    <li>URL parameters (if any).
                        <ul>
                            <li>Parameter Name.</li>
                            <li>Value Type, (string, number, boolean, etc.).</li>
                            <li>A description of what the parameter represents.</li>
                            <li>Whether the parameter is required or optional.</li>
                            <li>And and example input parameter.</li>
                        </ul>
                    </li>
                    <li>A REST Query URL test tool that builds an example url, based on the given input parameter values.</li>
                    <li>And an example response from the REST Query</li>
                </ul>
                
                
                
                 </p>

            </div>

            <div id="resourceDescription" ng-show="vm.selectedResource">
                <h4>{{vm.selectedResource.name}}</h4>
                <div class="well">{{ vm.selectedResource.description }}</div>
            </div>
            <div style="padding:10px;" class="panel" ng-if="vm.selectedUri && vm.selectedUri.uri">

                <h4>Service Description</h4>
                <div class="well">{{ vm.selectedUri.description }}</div>

                <h4>Service URL</h4>
                <div class="well">
                    <code>{{vm.servicesBaseURL}}{{ vm.selectedUri.uri }}</code>
                </div>

                <div ng-show="vm.selectedUri.selectedMedia">
                <h4>Response formats</h4>
                <div class="well">
                        <select ng-init="vm.selectedUri.selectedMedia" ng-model="vm.selectedUri.selectedMedia" ng-options="item for item in vm.selectedUri.availableMedia" ></select>
                </div>
                </div>

                <h4>Parameters</h4>
                <div class="well">
                    <table class="table table-condensed" style="font-size:12px;margin-bottom:0px;">
                        <thead>
                            <tr><th>Name</th><th>Type</th><th>Optional</th><th>Description</th><th>Input Parameter</th></tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vm.selectedUri.parameters"><td><strong>{{item.name}}</strong></td><td>{{item.type}}</td><td>{{item.optional}}</td><td>{{item.description}}</td><td><i  ng-class="item.value || item.optional ? 'fa fa-check green': 'fa fa-warning red'"></i><input ng-model="item.value" placeholder="{{item.value}}" ng-required="!item.optional" novalidate></td></tr>
                        </tbody>
                    </table>
                </div>

                <div ng-show="vm.selectedUri.body">
                    <h4>Request body</h4>                    
                    <div class="well">
                        <p>{{vm.selectedUri.body.description}}</p>
                        <p><i>{{vm.selectedUri.body.summary}}</i></p>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <json-formatter json="vm.selectedUri.body.value" open="1"></json-formatter>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="well" ng-if="vm.selectedUri.id == 'Delineate Watershed By Location' && vm.selectedUri.parameters[0].value && vm.selectedUri.selectedMedia == '.geojson'">
                    <leaflet width="100%" height="400px" layers="vm.layers" center="vm.center" markers="vm.markers" geojson="vm.geojson" geojson-nested="true" ng-style="{cursor:vm.cursorStyle}"><i id="loadingSpinner" class="fa map-spinner fa-5x fa-spin" ng-show="vm.mapSpinner"></i></leaflet>
                </div>

                <h4>REST Query URL</h4>
                <div class="well" ng-if="vm.selectedUri.hiderequest">
                    <p><i>{{vm.selectedUri.hiderequest}}</i></p>
                </div>
                    <div class="well" ng-if="!vm.selectedUri.hiderequest">
                        <p><i>Updated based on parameters above</i></p>
                        <p><a href="{{vm.servicesBaseURL}}{{vm.selectedUri.newURL}}" target="_blank">{{vm.servicesBaseURL}}{{vm.selectedUri.newURL}}</a></p>
                        <p>
                            <div class="btn-toolbar" role="toolbar" aria-label="...">
                                <button ng-click="vm.loadResponse()" type="button" class="btn btn-primary btn-sm"><i class="fa fa-refresh" ng-class="(vm.waitCursor) ? 'fa-spin' : ''"></i>&nbsp;&nbsp;Load response in {{vm.selectedUri.selectedMedia}} format</button>
                                <button ng-click="vm.showResponseOnMap()" type="button" class="btn btn-primary btn-sm" ng-if="vm.selectedUri.id == 'Delineate Watershed By Location' && vm.selectedUri.selectedMedia == '.geojson'" ng-disabled="!vm.showOnMap"><i class="fa fa-map"></i>&nbsp;&nbsp;Show response on map</button>
                                <a id="exportButton" class="btn btn-sm btn-success pull left" ng-href="http://ssdev.cr.usgs.gov/streamstatsservices/download?workspaceID={{vm.studyArea.workspaceID}}" ng-if="vm.selectedUri.id == 'Delineate Watershed By Locationn' && vm.selectedUri.selectedMedia == '.geojson'" ng-disabled="!vm.showOnMap"><span><i class="fa fa-download"></i></span>&nbsp;&nbsp;Export Basin</a>
                            </div>
                        </p>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <json-formatter ng-show="vm.requestResults" json="vm.requestResults" open="1"></json-formatter>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>