.navbar-brand {
  padding:15px 20px;
}
.fa-spinner {
	position: fixed;
	height: 15px;
	width: 30px;
	left: 40%;
	top: 10%;
}
.home-view {
    padding: 20px;
}
.app-body{
    margin-top:70px;
    background:#e9e7e6;
}
.navbar-app {
    background:#555555;
}
.footer {
    background:#555555;
}
.sidebar-content {
    margin-top:70px;
}
.identification {
    font-family: "Oswald",sans-serif;
    position: relative;
    right: 10px;
}
.navbar-app .btn {
    line-height: 0;
    padding-top:20px;
}
.navbar-absolute-top {
    min-width: 1050px;
}
.list-group-body {
    background-color:white;
    border-radius:0 0 5px 5px;
    padding-bottom:25px;
    padding-top: 10px;
    padding-left:10px;
    margin-bottom:3px;
    border:1px thin;
}
.list-group-body a {
    padding-left:10px;
    float:left;    
    height: 25px;
    width:100%;
    padding-right: 10px;
    overflow:hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}
.fa-spinner {
	position: sticky;
	height: 31px;
	width: 60px;
}